.infoWindowCard
  img.card-img-top.card-img(src=imageSource)
  div.card-body
    h5.card-title #{name}
    h6.card-subtitle.mb-1 #{alias}
    a.infoWindowCard-link.card-link(href=url, target="_blank") check it out on yelp
    hr
    strong.text-bold.mb-2 rating: #{rating} stars
    h6 #{phone}

